.p-text {
    word-break: break-all; 
    height: 8vh;
}

.closeX {
    color: black;
    margin-bottom: 0;
}

.closeX:hover, .closeX:active,.closeX :focus {
    color: white;
}

@media screen and (max-width: 480px) {
    .p-text {
        word-break: break-all;
        height: auto;
    }
}