
.cliente-pill {
    margin-top: 40px;
    padding: 10px !important;
}

.inner-cliente {
    border: solid 1px grey;
    margin-bottom: 0px;
    padding: 10px !important;
    border-radius: 0px !important;
}

.form-control {
    margin-bottom: 10px;
    color: black !important;
    background-color: white !important;
}

label {
    margin-right: 10px;
}

textarea {
    height: auto;
    resize: none;
}

.message {
    border: solid 1px black;
    padding: 5px;
    word-break: break-all;
}

.righty {
    border-radius: 10px 10px 0px 10px;
    background-color: azure;
    margin-left: 40px;
}

.lefty {
    border-radius: 10px 10px 10px 0px;
    background-color: cornsilk;
    margin-right: 40px;
}

p {
    font-size: 10px;
}